.personas__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: rgba(23, 23, 23, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5), -4px -4px 10px rgba(255, 255, 255, 0.1);
    transition: 0.4s ease-in-out;
  }

  .personas__contenedor:hover {
    transform: scale(1.02);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6), -4px -4px 12px rgba(255, 255, 255, 0.2);
  }

  .personas__titulo {
    text-align: center;
    color: #f8f9fa;
    font-size: 2em;
  }

  .personas__boton-crear {
    padding: 0.8rem 1.5rem;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background-color: #38ff1e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .personas__boton-crear:hover {
    background-color: #4682b4;
  }

  .personas__tabla {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: rgba(37, 37, 37, 0.8);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.5);
  }

  .personas__tabla th,
  .personas__tabla td {
    padding: 1em;
    text-align: left;
    color: white;
  }

  .personas__tabla th {
    background-color: #333;
    font-size: 1.1em;
  }

  .personas__tabla td {
    background-color: #171717;
  }

  .personas__tabla tr:hover td {
    background-color: #333;
  }

  .personas__acciones {
    display: flex;
    gap: 10px;
  }

  .personas__boton {
    width: 100px;
    height: 40px;
    font-size: 0.95em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
  }

  .personas__boton--editar {
    background-color: #1e90ff;
  }

  .personas__boton--editar:hover {
    background-color: #4682b4;
  }

  .personas__boton--eliminar {
    background-color: #e62222;
  }

  .personas__boton--eliminar:hover {
    background-color: #ff3636;
  }
