.ver-persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: rgba(23, 23, 23, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5), -4px -4px 10px rgba(255, 255, 255, 0.1);
    transition: 0.4s ease-in-out;
  }

  .ver-persona:hover {
    transform: scale(1.02);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6), -4px -4px 12px rgba(255, 255, 255, 0.2);
  }

  .ver-persona h2 {
    text-align: center;
    color: #f8f9fa;
    font-size: 2em;
  }

  .ver-persona p {
    color: #f8f9fa;
    font-size: 1.1em;
  }

  .ver-persona h3 {
    color: #f8f9fa;
    font-size: 1.5em;
    margin-top: 20px;
  }

  .ver-persona table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: rgba(37, 37, 37, 0.8);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.5);
  }

  .ver-persona th,
  .ver-persona td {
    padding: 1em;
    text-align: left;
    color: white;
  }

  .ver-persona th {
    background-color: #333;
    font-size: 1.1em;
  }

  .ver-persona td {
    background-color: #171717;
  }

  .ver-persona tr:hover td {
    background-color: #333;
  }

  .ver-persona .acciones {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .ver-persona .acciones button {
    width: 100px;
    height: 40px;
    font-size: 0.95em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .ver-persona .acciones .boton-editar {
    background-color: #FFD700;
  }

  .ver-persona .acciones .boton-editar:hover {
    background-color: #F7DC6F;
  }
  .ver-persona .acciones .boton-eliminar {
    background-color: #9c0404;
  }

  .ver-persona .acciones .boton-eliminar:hover {
    background-color: #c30606;
  }