body {
  background-image: url('https://media1.tenor.com/m/rw-8cPkxvKgAAAAd/car-maybach.gif');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: nowrap;
  z-index: -1;

}